<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".txt" #>
Testing output extension
<#
    string foo;
    string config;
    try
    {
         foo = this.Host.ResolveParameterValue("", "", "Foo");
    }
    catch (Exception e)
    {
         foo = "ResolveParameterValue foo failed with\r\n" + e.ToString();
    }

    try
    {
         config = this.Host.ResolveParameterValue("", "", "Config");
    }
    catch (Exception e)
    {
         config = "ResolveParameterValue config failed with\r\n" + e.ToString();
    }
#>

Foo: <#= foo #>
Config: <#= config #>

